<table class="table table-dark table-striped">
    
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Título</th>
        <th scope="col">Autor(a)</th>
        <th scope="col">Editora</th>
        <th scope="col">Preço</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Quarto de Despejo</td>
        <td>Carolina Maria de Jesus</td>
        <td>Ática</td>
        <td>R$ 35,00</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Grande Sertão: Veredas</td>
        <td> João Guimarães Rosa</td>
        <td>Companhia das Letras</td>
        <td>R$ 70,00</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Torto Arado</td>
        <td>  Itamar Vieira Junior</td>
        <td>Todavia</td>
        <td>R$ 50,00</td>
      </tr>
    </tbody>
  </table>
